.nav-menu {
    text-align: right;
  }
  .nav-spacing {
    margin: 0 0 0 10px; text-decoration: none; color: blue;
  }
  .image-link{
    text-decoration: none;
  }
  .md-align{
    text-align: center; margin: 0 0 80px;
  }
  .center-image{
    display: block; margin: 0 auto;
  }
  .block-image{
    float: left; margin: 0 40px 0 0;
  }
  .block{
    width: 500px; margin: 20px auto; padding: 30px; background-color: antiquewhite;
  }